[submodule ".vim/bundle/puppet"]
	path = link/.vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/yaml"]
	path = link/.vim/bundle/yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule ".vim/bundle/nerdtree"]
	path = link/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdtree-tabs"]
	path = link/.vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/ctrl-p"]
	path = link/.vim/bundle/ctrl-p
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/latex"]
	path = link/.vim/bundle/latex
	url = https://github.com/lervag/vim-latex
[submodule "git-extras"]
	path = vendor/git-extras
	url = https://github.com/visionmedia/git-extras.git
[submodule "link/.vim/bundle/vim-better-whitespace"]
	path = link/.vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "link/.vim/bundle/syntastic"]
	path = link/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "link/.vim/bundle/gruvbox"]
	path = link/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "link/.vim/bundle/deoplete.nvim"]
	path = link/.vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
