[submodule "config/vim/bundle/nerdtree"]
	path = config/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "config/vim/bundle/nerdtree-tabs"]
	path = config/vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "config/vim/bundle/ctrl-p"]
	path = config/vim/bundle/ctrl-p
	url = https://github.com/kien/ctrlp.vim.git
[submodule "config/vim/bundle/vim-better-whitespace"]
	path = config/vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "config/vim/bundle/syntastic"]
	path = config/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "config/vim/bundle/gruvbox"]
	path = config/vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "config/vim/bundle/deoplete.nvim"]
	path = config/vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "config/vim/bundle/vim-commentary"]
	path = config/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "config/vim/bundle/vim-airline"]
	path = config/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "config/i3/i3blocks-contrib"]
	path = config/i3/i3blocks-contrib
	url = git@github.com:vivien/i3blocks-contrib.git
