# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts
vimrc_local

# ignore local fish config
/config/fish/config_local.fish
/config/fish/fish_history
/config/fish/fishd*
/config/fish/fish_variables

# ignore deoplete stuff
*-rplugin*

# Beets
/config/beets/library.db
/config/beets/state.pickle
/config/beets/gmusicapi.yaml

# Darktable
/config/darktable/library.db*
/config/darktable/data.db*

# digikam
/config/digikamrc
/config/gconf/apps/rapid-photo-downloader/

# geeqie
/config/geeqie/history

#copyq
/config/copyq/*
!/config/copyq/*.conf
!/config/copyq/*.ini
/config/copyq/copyq-bak.conf
/config/copyq/copyq_tabs.ini
/config/copyq/copyq_geometry.ini

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
