# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts

# ignore local fish config
/fish/config_local.fish
/fish/fish_history
/fish/fishd*


# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
